      <div class="flex items-center w-3/4 my-4 mx-auto">
        <div class="flex-grow h-px bg-gray-300"></div>
        <span class="px-2 text-sm text-gray-500 whitespace-nowrap">
          本日は<%= post.created_at.in_time_zone('Asia/Tokyo').strftime("%m/%d") %>です！
        </span>
        <div class="flex-grow h-px bg-gray-300"></div>
      </div>