  <!-- メインボタン（完全な丸形） -->
  <button id="main-button" class="relative bg-gradient-to-r from-green-500 to-green-600 text-white w-28 h-20 rounded-full flex items-center justify-center shadow-lg hover:from-green-600 hover:to-green-700 focus:outline-none focus:ring-4 focus:ring-blue-300 transition-all duration-300">
    <span class="absolute inset-0 bg-white/10 rounded-full blur-lg"></span>
    <span class="z-10 flex items-center space-x-2 whitespace-nowrap">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M5 12l7-7 7 7"></path>
      </svg>
      <span>本日も！</span>
    </span>
  </button>

    <!-- ドロップダウンボタン（上方向に表示） -->
  <div id="dropdown-buttons" class="hidden absolute bottom-full right-0 flex flex-col items-end gap-2 mb-2 w-40">
    <!-- Option 1 -->
    <%= button_to "張り切って", posts_path(post:{option: 0, name: current_user.name, user_id: current_user.id}), 
      method: :post, 
      class: "bg-emerald-500 text-white rounded-lg py-2 px-4 shadow-md hover:bg-green-700 focus:outline-none dropdown-item w-full text-center appearance-none" %>
    
    <!-- Option 2 -->
    <%= button_to "この辺で終わる", posts_path(post:{option: 1, name: current_user.name, user_id: current_user.id}), 
      method: :post, 
      class: "bg-blue-500 text-white rounded-lg py-2 px-4 shadow-md hover:bg-blue-700 focus:outline-none dropdown-item w-full text-center appearance-none" %>
  </div>